<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/admi.js" type="module" defer></script>
</head>
<body>

<!-- Formulario para que el Admi añada un Team -->
    <form class="form" id="team">
        <fieldset>
            <legend>Datos del team</legend>
            <div>
                <p>
                    <label for="">Nombre del Team:</label>
                    <input type="text" placeholder="Ingresa el nombre del team">
                </p>
                <p>
                    <label for="">Trainer del Team:</label>
                    <input type="text" placeholder="Ingresa el trainer del team">
                </p>
                <p>
                    <button  type="submit">Guardar</button>
                </p>
            </div>
        </fieldset>
    </form>

<!-- Formulario para que el Admi añada una Skill para evaluar-->
    <form class="form" id="skills">
        <fieldset>
            <legend>Datos de skills</legend>
            <div>        <p>
                <label for="">Nombre del Skill:</label>
                <input type="text" placeholder="Ingresa el skills">
            </p>
            <button  type="submit">Guardar</button></div>
        </fieldset>
    </form>

<!-- Formulario para que el Admi añada Modulos de Skills -->
    <form class="form" id="modulos">
        <fieldset>
            <legend>Datos de los módulos</legend>
            <div>
                <p>
                    <label for="">Nombre del Modulo:</label>
                    <input type="text" placeholder="Ingresa el modulo">
                </p>
                <button  type="submit">Guardar</button>
            </div>
        </fieldset>
    </form>
</body>
</html>